<style>
    .img-fluid {
    width: 90%; /* 图像宽度为屏幕宽度的90% */
    height: auto; /* 保持图像的宽高比 */
    display: block; /* 使图像居中显示 */
    margin: 0 auto; /* 居中显示 */
  }
</style>
<header class="bg-primary py-1 mb-1">

  <p class="m-0 text-center text-white">
   
    <div class="align-items-center">
<center>

<img src="assets/images/Boracay-Philippines-main-R.jpeg" class="img-fluid" />
         

   <font style="color:white">  <h2>
 IEEE CyberSciTech / PICom / DASC / CBDCom 2024
 <hr/>
 Boracay, Philippines
        </h2>
        </font>
  </center>
  </div>
    
      </div>
    </div>
    </div>
</header>
