<!-- Header -->

<header class="bg-primary py-5 mb-5">

  <p class="m-0 text-center text-white">
   
    <div class="align-items-center">
<center>
  <style>
    /* 添加CSS规则来根据屏幕宽度调整图像大小 */
    .img-fluid {
      width: 80%; /* 图像宽度为屏幕宽度的80% */
      height: auto; /* 保持图像的宽高比 */
      display: block; /* 使图像居中显示 */
      margin: 0 auto; /* 居中显示 */
    }
  </style>
         <img src="assets/images/Boracay-Philippines-main-R.jpeg" class="img-fluid" />
         

   <font style="color:white">  <h1>
 IEEE CyberSciTech / PICom / DASC / CBDCom 2024
 <hr/>
 Boracay, Philippines
        </h1>
        </font>
  </center>
  </div>
    
      </div>
    </div>
    </div>
</header>
