<!-- Header -->

<header class="bg-secondary py-1 mb-1">
  
  <p class="m-0 text-center text-white">
   
    <div class="align-items-center">
<center>
         <img src="/2024/assets/images/long-beach-Philippines-R.jpeg" class="img-fluid main-width"/>
         
        
      
   <font style="color:white">  <h2>
The 22nd IEEE International Conference on Dependable, Autonomic and Secure Computing <br/>(DASC 2024)<br/>(In-Presence/Virtual)
        </h2>
        </font>
      </center>
  </div>
    
    
    </div>
    </header>

