<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-size: 1.05rem;">
  <div class="container d-flex justify-content-between align-items-center">

    <!-- 左侧：菜单折叠按钮 + 菜单内容 -->
    <div class="d-flex align-items-center">
      <!-- 折叠按钮 -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLeft"
              aria-controls="navbarLeft" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- 菜单列表 -->
      <div class="collapse navbar-collapse" id="navbarLeft">
        <ul class="navbar-nav">
          <li class="nav-item active"><a class="nav-link" href="{{ site.baseurl }}/dasc/">Home</a></li>

          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="committeesDropdown" data-toggle="dropdown">
              Committees
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ site.baseurl }}/dasc/organization/">Organization</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/dasc/tpc/">Technical Program Committee</a>
            </div>
          </li>

          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="callsDropdown" data-toggle="dropdown">
              Calls
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ site.baseurl }}/dasc/callpaper/">Call for Papers</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/dasc/callworkshops/">Call for Workshops</a>
            </div>
          </li>

          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="workshopsDropdown" data-toggle="dropdown">
              Workshops
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ site.baseurl }}/cyberscitech/acceptworkshops/">CyberSciTech Workshops</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/dasc/acceptworkshops/">DASC Workshops</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/picom/acceptworkshops/">PICom Workshops</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/cbdcom/acceptworkshops/">CBDCom Workshops</a>
            </div>
          </li>

          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="authorsDropdown" data-toggle="dropdown">
              Authors
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ site.baseurl }}/dasc/papersubmissions/">Paper Submission</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/dasc/acceptedpapers/">Accepted Papers</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/crs/">Camera Ready Submissions</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/registration/">Author Registration</a>
            </div>
          </li>

          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="attendDropdown" data-toggle="dropdown">
              Attend
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="https://cabin.kenhotels.com/hakodate/">Venue Hotel</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/hakodate/">About Hakodate</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/registration/">Registration</a>
            </div>
          </li>

          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="coLocatedDropdown" data-toggle="dropdown">
              Co-located Conferences
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ site.baseurl }}/cyberscitech/">CyberSciTech</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/picom/">PICom</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/cbdcom/">CBDCom</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- 右侧：Logo（大屏显示） -->
    <div class="d-none d-lg-block">
      <a class="navbar-brand text-nowrap" href="{{ site.baseurl }}/"
         style="margin-left: 2rem; font-size: 1.1rem; padding-top: 0.4rem; padding-bottom: 0.4rem;">
        IEEE CyberSciTech/DASC/PICom/CDBCom 2025
      </a>
    </div>

  </div>
</nav>
