<div class="col-md-4 mb-1">

<h4>Recent Updates</h4>
<b>[10 Jun]</b> Submission System Opens<br/>
<b>[14 Jul]</b> <a href="https://cyber-science.org/2024/keynote/" target="_blank"><u>Keynotes are Updated</u></a><br/>
<b>[14 Jul]</b> <a href="https://cyber-science.org/2024/panel/" target="_blank"><u>Panel is Updated</u></a><br/>
<b>[14 Jul]</b> <a href="https://cyber-science.org/2024/tutorial/" target="_blank"><u>Tutorial is Updated</u></a><br/>
<b>[28 Aug]</b> <a href="https://sites.google.com/g.msuiit.edu.ph/cyberscitech-info/home/" target="_blank"><u>Local Information Updated</u></a><br/>
<b>[28 Aug]</b> <a href="https://cyber-science.org/2024/overview/" target="_blank"><u>Program Overview Updated</u></a><br/>
<b>[05 Sep]</b> <a href="https://cyber-science.org/2024/crs/" target="_blank"><u>Camera-ready Submission Opened</u></a><br/>
<b>[05 Sep]</b> <a href="https://cyber-science.org/2024/registration/" target="_blank"><u>Registration System Opened</u></a><br/>
<b>[25 Oct]</b> <font color=red>(NEW)</font> <a href="https://cyber-science.org/2024/program/" target="_blank"><u>Program Agenda Updated</u></a><br/>
<b>[05 Nov]</b> <font color=red>(NEW)</font> <a href="https://cyber-science.org/2024/program/" target="_blank"><u>Zoom ID and Passcode are updated for online sessions. Please check them in the Advanced Program.</u></a><br/>

<!-- 
<b>[Sep 14]</b> <font color=red>** NEW **</font> <a href="http://cyber-science.org/2024/awards/"><u>Best Papers Awards</u></a><br/>
<b>[Aug 17]</b> <a href="http://cyber-science.org/2024/socialevent/"><u>Social Event unvealed!</u><br/>
<b>[Aug 17]</b> <a href="http://cyber-science.org/2024/program/"><u>Program Agenda updated!</u></a><br/>
<b>[Aug 5]</b> <a href="http://cyber-science.org/2024/program/"><u>Program Agenda available online!</u></a><br/>
<b>[Jul 8]</b><a href="http://cyber-science.org/2024/registration/"><u> Registration</u></a> now open!<br/> -->
<hr/>
  
<h4>Important dates</h4>
<p>For specific dates, please refer to each conference‘s homepage:</p>
<ul>
  <li><a href="https://cyber-science.org/2024/cyberscitech/"><u>CyberSciTech</u></a></li>
  <li><a href="https://cyber-science.org/2024/picom/"><u>PICom</u></a></li>
  <li><a href="https://cyber-science.org/2024/dasc/"><u>DASC</u></a></li>
  <li><a href="https://cyber-science.org/2024/cbdcom/"><u>CBDCom</u></a></li>
</ul>

<p>
  <!-- <b>Workshop/SS Proposal Due:</b> June 30, 2024<br/>
  <b>Regular Paper Deadline:</b> <font color=black><del>June 25, 2024</del></font><font color=red> July 30, 2024 (Final Extension)</font><br/>
  <b>WiP/Workshop/SS Paper Due:</b> <font color=black><del>July 15, 2024</del></font><font color=red> July 31, 2024 (Extended)</font><br/> -->
  <!-- <b>Author Notification:</b> September 1, 2024<br/>
  <b>Paper Registration Due:</b> September 18, 2024<br/>
  <b>Camera-ready Submission Due:</b> September 27, 2024 -->
<hr />
<!-- <b>Main Conference Papers </b>
<br/>Paper Submission Due: <font color=black><del>June 1, 2024</del></font><font color=red> June 15, 2024 (extended)</font>
<br/>Authors Notification: <font color=black><del>July 1, 2024</del></font><font color=red> July 5, 2024</font>
<br/>Camera-ready Submission: <font color=black>July 15, 2024</font>
<br/><br/>

<b>Workshop/Special Session Papers </b>
<br/>Submission Due: <font color=black><del>June 1, 2024</del></font><font color=red> June 15, 2024 (extended)</font>
<br/>Author Notification Due: <font color=black><del>July 1, 2024</del></font><font color=red> July 5, 2024</font>
<br/>Camera-ready Submission: <font color=black>July 15, 2024</font>
</p><hr/> -->

  <h4><a href="/2024/special-issues/">Special Issues</a></h4>
 <hr />
    
 <p>
  <h4> Sponsored By</h4>      
  <a href="https://www.ieee.org/"><img src="/2024/assets/images/IEEE.png" class="img-fluid" alt="IEEE"/></a>
  <a href="https://www.computer.org/"><img src="/2024/assets/images/ieeecs.jpg" class="img-fluid" alt="IEEECS"/><br/></a>
  <hr/>
  <h4> Supported By</h4>
  <img src="/2024/assets/images/smclogo.jpg" class="img-fluid" alt="SMC"/>
  <img src="/2024/assets/images/swtclogo.jpg" class="img-fluid" alt="SWT"/><br/>
  <img src="/2024/assets/images/tcsclogo.jpg" class="img-fluid" alt="TCST"/>
  <img src="/2024/assets/images/HI-TC_FormalLogo_50.png" class="img-fluid" alt="HI-TC"/><br/>
  <hr/>
  <h4> Hosted By</h4>
  <img src="/2024/assets/images/MSU-Iligan.png" class="img-fluid half-size" alt="MSU"/>
  <br/>
  <hr/>
  <h4> Social Media</h4>
  <div class="panel-body">    
        <!-- <div class="fb-page" data-href="https://www.facebook.com/CyberSciTech/" data-width="250" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CyberSciTech/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CyberSciTech/">Cyber Science and Technology</a></blockquote></div> -->
    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" style="position: static; visibility: visible; width: 214px; height: 20px;" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.64457a6e8f493e1f1022f50e4e7e67e8.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=CyberSciTec&amp;show_count=true&amp;show_screen_name=true&amp;size=m&amp;time=1513340808808" data-screen-name="CyberSciTec"></iframe>
    <a href="https://www.facebook.com/CyberSciTech/"><img src="/2024/assets/images/facebook_icon.png" width="50" alt="facebook"/></a>
  </div>
  <!-- <div class="pr-1 d-inline-block d-sm-block item-facebbok">
    <a target="_blank" href="https://www.facebook.com/CyberSciTech/" class="btn btn-block btn-sm rounded-0 btn-facebook py-2 px-4" rel="nofollow">
    <i class="fab fa-lg fa-facebook fa-fw"></i>
    </a>
    </div>
    <div class="pl-1 d-inline-block d-sm-block item-twitter">
    <a target="_blank" href="https://twitter.com/CyberSciTec" class="btn btn-block btn-sm rounded-0 btn-twitter py-2 px-4" rel="nofollow">
    <i class="fab fa-lg fa-x-twitter fa-fw"></i>
    </a>
  </div> -->
</p>
  
</div>
