<style>
  .starred-text {
    position: relative;
    text-indent:  0em; /* 将文本首行向左缩进 */
    padding-left: 1em; /* 为星号和文本之间添加一些空间 */
  }

  .starred-text::before {
    content: "*"; /* 在文本前添加星号 */
    position: absolute;
    left: 0; /* 确保星号显示在行的开始处 */
  }
</style>

<div class="col-md-4 mb-1">
<h4>Recent Updates</h4>
<b>[09 Mar]</b> <a href="http://cyber-science.org/2024/assets/files/CyberSciTech2024_CFP.pdf" target=_new>CyberSciTech 2024 Call for Papers (PDF)</a><br/>
<b>[10 Jun]</b> <a href="https://edas.info/N32365" target=_new><u>Submission System for CyberSciTech 2024 is Open</u></a><br/>
<b>[14 Jul]</b> <font color=red>** NEW **</font> <a href="https://cyber-science.org/2024/keynote/" target="_blank"><u>Keynotes are Updated</u></a><br/>
<b>[14 Jul]</b> <font color=red>** NEW **</font> <a href="https://cyber-science.org/2024/panel/" target="_blank"><u>Panel is Updated</u></a><br/>
<b>[14 Jul]</b> <font color=red>** NEW **</font> <a href="https://cyber-science.org/2024/tutorial/" target="_blank"><u>Tutorial is Updated</u></a><br/>
<!-- 
<b>[Sep 14]</b> <font color=red>** NEW **</font> <a href="http://cyber-science.org/2024/awards/"><u>Best Papers Awards</u></a><br/>
<b>[Aug 5]</b>  <a href="http://cyber-science.org/2024/program/"><u>Program Agenda available online!</u></a><br/>
<b>[Jul 8]</b><a href="http://cyber-science.org/2024/registration/"><u> Registration</u></a> now open!<br/>
<b>[Dec 1]</b> <a href="http://cyber-science.org/2024/">Website published</a>
<hr/> -->
<hr/>
<!-- <h4>Important dates <font color=red> UPDATED!</font></h4> -->
<h4>Important dates</h4>
<p>
<b>Workshop/SS Proposal Due:</b> June 30, 2024<br/>
<b>Regular Paper Deadline:</b> <font color=black><del>June 25, 2024</del></font><font color=red> July 30, 2024 (Final Extension)</font><br/>
<b>WiP/Workshop/SS Paper Due:</b> <font color=black><del>July 15, 2024</del></font><font color=red> August 10, 2024 (Final Extention)</font><br/>
<b>LBI Paper Due:</b> August 20, 2024<br/>
<b>Authors Notification:</b> September 1, 2024<br/>
<b>Paper Registration Due:</b> September 18, 2024<br/>
<b>Camera-ready Submission:</b> September 27, 2024

<p class="starred-text"> Click <a href="/2024/cyberscitech/papersubmissions/"><b>here</b></a> to see instructions for Regular/WiP/Workshop/SS/LBI papers</p>
<hr/>
<!-- 
<p>
  <b>Workshop/SS Proposal Due:</b> March 15, 2024
<br/><b>Workshop/SS Proposal Notification:</b> April 1, 2024
 </p> <p>
<b>Main Conference Papers </b>
<br/>Paper Submission Due: <font color=black><del>June 1, 2024</del></font><font color=red> June 15, 2024 (extended)</font>
<br/>Authors Notification: <font color=black><del>July 1, 2024</del></font><font color=red> July 5, 2024</font>
<br/>Camera-ready Submission: <font color=black>July 15, 2024</font>
<br/><br/>

<b>Workshop/Special Session Papers </b>
<br/>Submission Due: <font color=black><del>June 1, 2024</del></font><font color=red> June 15, 2024 (extended)</font>
<br/>Author Notification Due: <font color=black><del>July 1, 2024</del></font><font color=red> July 5, 2024</font>
<br/>Camera-ready Submission: <font color=black>July 15, 2024</font>
  </p><hr/>
  <h4><a href="/2024/special-issues/">Special Issues</a></h4>
 <hr /> -->
 <h4><a href="/2024/cyberscitech/acceptworkshops/">Workshops & Special Sessions</a></h4>
<hr />

 <h4><a href="/2024/special-issues/">Special Issues</a></h4>
 <hr />
 <p>
  <h4> Sponsored By</h4>      
  <a href="https://www.ieee.org/"><img src="/2024/assets/images/IEEE.png" class="img-fluid" alt="IEEE"/></a>
  <a href="https://www.computer.org/"><img src="/2024/assets/images/ieeecs.jpg" class="img-fluid" alt="IEEECS"/><br/></a>
  <hr/>
  <h4> Supported By</h4>
  <img src="/2024/assets/images/smclogo.jpg" class="img-fluid" alt="SMC"/>
  <img src="/2024/assets/images/swtclogo.jpg" class="img-fluid" alt="SWT"/><br/>
  <img src="/2024/assets/images/tcsclogo.jpg" class="img-fluid" alt="TCST"/>
  <img src="/2024/assets/images/HI-TC_FormalLogo_50.png" class="img-fluid" alt="HI-TC"/><br/>
  <hr/>
  <h4> Hosted By</h4>
  <img src="/2024/assets/images/MSU-Iligan.png" class="img-fluid half-size" alt="MSU"/>
  <br/>
</p>

<hr/>
<p>
  <h4> Past Conferences</h4>
<a href="https://icnetlab.org/cyber-science2023/cyberscitech/index.html">CyberSciTech 2023<a> <br>
<a href="http://cyber-science.org/2022/cyberscitech/">CyberSciTech 2022<a> <br>
<a href="http://cyber-science.org/2021/cyberscitech/">CyberSciTech 2021<a> <br>
<a href="http://cyber-science.org/2020/cyberscitech/">CyberSciTech 2020<a> <br>
<a href="http://cyber-science.org/2019/">CyberSciTech 2019<a> <br>
<a href="http://cyber-science.org/2018/">CyberSciTech 2018<a> <br>
<a href="http://cyber-science.org/2017/">CyberSciTech 2017<a> <br>
<a href="http://cyber-science.org/2016/">CyberSciTech 2016<a> <br>

</p> 
<hr/>
<h4> Social Media</h4>
<div class="panel-body">    
      <!-- <div class="fb-page" data-href="https://www.facebook.com/CyberSciTech/" data-width="250" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CyberSciTech/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CyberSciTech/">Cyber Science and Technology</a></blockquote></div> -->
  <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" style="position: static; visibility: visible; width: 214px; height: 20px;" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.64457a6e8f493e1f1022f50e4e7e67e8.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=CyberSciTec&amp;show_count=true&amp;show_screen_name=true&amp;size=m&amp;time=1513340808808" data-screen-name="CyberSciTec"></iframe>
  <a href="https://www.facebook.com/CyberSciTech/"><img src="/2024/assets/images/facebook_icon.png" width="50" alt="facebook"/></a>
</div>
  </div>
