body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #333;
}

h2 {
    margin-top: 20px;
}

.table-wrapper {
    margin: 20px;
}

.news-table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

.news-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.news-table th, .news-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.news-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.news-table td:nth-child(1) {
    font-weight: bold;
    width: 20em;
}

.news-table td:nth-child(2) {
    width: 55em;
}

.page__footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.page__footer a {
    color: #fff;
    text-decoration: none;
}

.page__footer-follow {
    margin-bottom: 10px;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline;
    margin-right: 10px;
}
