<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% include head.html %}
  <style>
    .custom-wrapper {
      width: 90%;
      margin: 0 auto;
    }
  </style>

  <body>
    {% include navdasc.html %}
    {% include headerdasc.html %}

    <div class="container mb-5" style="max-width: 90%;">
      <div class="row">
        <!-- 主内容 -->
        <div class="col-md-8 mb-5">
          {{ content }}
        </div>
    
        <!-- 右侧 sidebar -->
        <div class="col-md-4">
          {% include sidebardasc.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}

    <script src="{{ site.baseurl }}/assets/vendor/jquery/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
