---
---

<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include head.html %}
<body>
  {% include navdasc.html %} {% include headerdasc.html %}
  <!-- Page Content -->
  <div class="container mb-5">
    <div class="row no-gutters"> <!-- 移除默认间隔 -->
  
      <!-- 正文栏，稍微缩一点，右侧多留点空间 -->
      <div class="col-md-7 pr-3">
        {{ content }}
      </div>
  
      <!-- 右边栏，拓宽至 5 栅格，左边贴近正文 -->
      <div class="col-md-5">
        {% include sidebardasc.html %}
      </div>
  
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ site.baseurl }}/assets/vendor/jquery/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
